/*Comentario en css*/

/*//no es un comentario en css*/

/*SELECTOR UNIVERSAL*/
/*identificar a cada una de las etiquetas*/
/*RESETEAR ESTILOS PREDEF*/
*{
    margin:0;
    padding: 0;
}

/*SELECTOR DE ETIQUETA*/
ol{
    list-style-position: inside;
    /*por defecto es outside*/
    list-style-type: lower-roman;
}

p{
    /*palabra clave*/
    color: green;
    /*hexadecimal*/
    /*color:#006600;*/
    /*RGB*/
    /*color:RGB(0,255,0);*/
}

/*SELECTOR DE ID*/
/*uno solo x html*/
/*solo para cajas macro*/
#especial{
    background-color: khaki;
}

/*section#especial{
}*/

/*SELECTOR DE CLASE*/
/*puedo usar muchos por html*/
.importante{
    font-weight: bold;
    border: 1px solid coral;
}

/*hablar al p con nombre de clase
importante*/
p.importante{
    font-weight: normal;
}

li.importante{
    
}

/*hablamos a caja con clase importante
que sea hija de un parrafo*/
p .importante{
    
}

/*agrupo*/
p, .importante{
    
}

/*cuando p sea el primer hijo
de la caja que lo contiene
(su padre)*/
p:first-child{
    font-variant: small-caps;
    /*small-caps son versalitas*/
}